<mat-sidenav-container class="sidenav-container " >
  <mat-sidenav #drawer class="sidenav custom-sidenav " fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="assets/travel.png" class="circular-image" alt=""></mat-toolbar>
    <mat-nav-list>
      <hr>
      <div >
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon >public</mat-icon> <span mat-list-item>Viagem </span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Agendar</button>
          <button mat-menu-item>Pacotes</button>
          <button mat-menu-item>Reservas</button>
          <button mat-menu-item>Pagamentos</button>


        </mat-menu>
        <br>
      </div>


      <div>
        <button mat-button [matMenuTriggerFor]="menu1"><mat-icon >hotel</mat-icon> <span mat-list-item>Hoteis</span></button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item> Lista de Hoteis</button>
          <button mat-menu-item>Reserva de quartos</button>
        </mat-menu>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="menu2"><mat-icon >restaurant</mat-icon> <span mat-list-item>Restaurantes</span></button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item> Lista de Reestaurantes</button>
          <button mat-menu-item>Menu</button>
          <button mat-menu-item>Reserva</button>

        </mat-menu>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="menu3"><mat-icon >event</mat-icon> <span mat-list-item>Evento</span></button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item class="altura-menu-item"> Lista de Eventos</button>
          <button mat-menu-item>Reserva</button>

        </mat-menu>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="menu4"><mat-icon >commute</mat-icon> <span mat-list-item>Transporte</span></button>
        <mat-menu #menu4="matMenu">
          <button mat-menu-item class="altura-menu-item"  [mat-menu-trigger-for]="autocarro"><mat-icon >directions_bus</mat-icon> Autocarro</button>
          <button mat-menu-item [mat-menu-trigger-for]="aviao"><mat-icon >flight</mat-icon>Avião</button>


          <mat-menu #autocarro="matMenu">
            <button mat-menu-item >Destinos</button>
            <button mat-menu-item >Reservas</button>
            <button mat-menu-item >Histórico</button>

          </mat-menu>

          <mat-menu #aviao="matMenu">
            <button mat-menu-item >Destinos</button>
            <button mat-menu-item >Reservas</button>
            <button mat-menu-item >Histórico</button>

          </mat-menu>


        </mat-menu>
      </div>



      <div class="altura-menu-item">
        <button mat-button [matMenuTriggerFor]="menu3"><mat-icon >place</mat-icon> <span mat-list-item>Destinos</span></button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item class="altura-menu-item"> Mais Visitados</button>
          <button mat-menu-item>Provincia</button>

        </mat-menu>
      </div>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="custom-toolbar">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Omokuyo</span>
    </mat-toolbar>
  <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
