.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.alinhamentoInicial {
  width: 30%; /* Ajuste a largura conforme necessário, pode ser em % ou px */
  height: 200px; /* Ajuste a altura conforme necessário */
  margin-top: 20px;
  margin: 20px 20px 0 20px;
}

